---
import Layout from '@layouts/Layout.astro';
import ProductsSection from '@products/components/ProductsSection.astro';
import { getCollection } from 'astro:content';

const sabanas = await getCollection('sabanas', ({ data }) => {
  return data;
});
---

<Layout>
  <main class='min-h-[100dvh] flex flex-col gap-4'>
    <header
      class='flex justify-between p-2 items-center font-medium opacity-90 border-b-2 border-neutral-800'
    >
      <h1 class='text-subtitle'>Sabanas</h1>
      <a
        href='/'
        class='text-sm border-b border-black-medium'
        >Volver</a
      >
    </header>
    <ProductsSection data={sabanas} />
  </main>
</Layout>
