---
const categories = [
  {
    id: '001',
    name: 'Sabanas',
    href: '/sabanas',
    description: 'Sabanas de primera calidad y materiales premium.'
  },
  {
    id: '002',
    href: '/mochilas',
    name: 'Mochilas',
    description: 'Las mejores mochilas y los materos mas lindos.'
  },
  {
    id: '003',
    href: '/',
    name: 'Riñoneras',
    description: 'Riñoneras modernas y originales.'
  }
];
---

<article class='w-full grid grid-row-3 flex-1 gap-2 '>
  {
    categories.map(({ name, id, description, href }) => (
      <a
        href={href}
        class={`bg-category p-2 flex flex-col gap-2 relative border-y border-black-medium/40`}
      >
        <span>{id}</span>
        <h3 class='text-subtitle font-medium'>{name}</h3>
        <p class='text-pretty max-w-[60%]'>{description}</p>
        <svg class='absolute bottom-2 right-2 size-10 text-stone-800'>
          <use xlink:href='/assets/sprite.svg#material-symbols-light:arrow-right-alt-rounded' />
        </svg>
      </a>
    ))
  }
</article>

