---
import Categories from './Categories.astro';
---

<section class='h-[100dvh] px-1 py-4 flex flex-col gap-6'>
  <article class='border-b border-neutral-800/40 pb-2 px-2 leading-8'>
    <h1 class='text-title font-medium'>Bienvenido a mi tienda</h1>
    <h2 class='text-subtitle'>Encontra los mejores precios.</h2>
  </article>
  <Categories />
</section>
