---
import Categories from './Categories.astro';
---

<section
  class='h-[100dvh] px-2 py-4 flex flex-col gap-6'
>
  <svg
    width='36'
    height='36'
  >
    <use xlink:href='/assets/sprite.svg#bi:x-diamond'></use>
  </svg>
  <article class='border-b border-neutral-800 pb-2'>
    <h1 class='text-title font-medium'>Bienvenido a mi tienda</h1>
    <h2 class='text-subtitle'>Encontra los mejores precios.</h2>
  </article>
  <Categories />
</section>
