---
const { sizes } = Astro.props;
---

<dl
  class='leading-[18px] mt-1 px-[2px]'
  role='list'
>
  {
    sizes.map(({ label, value }: { label: string; value: number }) => (
      <div
        class='flex w-full justify-between text-[11px] font-medium opacity-80'
        role='listitem'
      >
        <dt>{label}</dt>
        <dd>{value} cm</dd>
      </div>
    ))
  }
</dl>
