---
const { price } = Astro.props;
const formatedPrice = price.toLocaleString('es-AR');
---

<span class='text-[18px] px-px font-medium'>
  <small>{formatedPrice}</small>
  <small class='text-green-700'>$</small>
</span>
