---
const { price } = Astro.props;
const formatedPrice = price.toLocaleString('es-AR');
---

<span class=''>
  <small class='font-medium opacity-95'>{formatedPrice}</small>
  <small class='text-green-700'>$</small>
</span>
